.section-1 {
    height: 700px;
    width: 100%;
}

.container {
    margin-top: 5px;
    height: 620px;
    width: 40%;
    margin-left: 40px;
    float: left;
}

.image {
	margin-top:3%;
    height: 450px;
    width: 100%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.img img {
    height: 450px;
    width: 100%;
    
}

.img1 {
    border: 1px solid white;
    float: left;
    height: 20%;
    width: 20%;
    margin-left: 3%;
    margin-top: 4%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, -0.1),
        0px 0px 8px rgba(0, 0, 0, 0.1),
        0px 0px 12px rgba(0, 0, 0, 0.1);
}

.img1 img {
    height: 80%;
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
}


.main {
	margin-top:10px;
	border:1px solid rgba(128, 128, 128, 0.194);
	background-color:#cfcccc21;
    float: left;
    width: 50%;
    height: 650px;
    margin-left: 40px;
}

.main h1 {
	margin-bottom:0;
    font-size: 3.8rem;
    color: blue;
    font-family: 'Poppins', sans-serif;
    -webkit-text-stroke: 2px black;
    margin-left: 2%;
}
table {
    margin-top: 5%;
    margin-left: 9%;
    width: 80%;
}

th {
    text-align: left;
}

tr {
    font-size: 20px;
}

table,
th,
td {
    border: 1px solid #cfcccc;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #fff;
}

tr:nth-child(odd) {
    background-color: #f5f5f5;
}




.main button {
    height: 50px;
    margin-top: 5%;
    margin-left:12%;
    width: 30%;
    border: none;
    font-size: 20px;
    color: #FFF;
   /* padding: 12px 16px;*/
    background-color: rgb(44, 44, 232);
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
    transition: all 0.3s ease;
    cursor: pointer;
}
.main button a{
	 color:white;
	 text-decoration:none;
 }

.main button:hover {
    background: black;
    transform:scale(1.1);
}

/********************/
form input{
	margin-top:2%;
	height:30px;
	margin-left:10%;
}
form .check{
	height: 50px;
    margin-top: 5%;
    margin-left:12%;
    width: 30%;
    border: none;
    font-size: 20px;
    color: #FFF;
    background-color: rgb(44, 44, 232);
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
    transition: all 0.3s ease;
    cursor: pointer;
}
form .check:hover {
    background: black;
    transform:scale(1.1);
}
.container-1 {
    margin-top: 10px;
    height: 300px;
    width: 100%;
    border: 2px solid #cfcccc;
}

ul.nav1 {
    list-style: none;
    float: left;
}

ul.nav1 li {
    float: left;
    margin-right: 200px;
    font-size: 2rem;
    
}

ul.nav1 li a {
    text-decoration: none;
    color: black;
    cursor:pointer;
    font-family:'Poppins', sans-serif;
}
ul.nav1 li a:hover{
    color:blue;
    text-decoration: underline;
    transition: 1s;
}

/*********************Enquire.jsp***********************/
.related{
	
	height:500px;
	margin:1%;
    background-color: white;
    border:1px solid rgba(128, 128, 128, 0.167);
	
	
}
.related h1{
	margin-bottom:0%;
	font-size:2.5rem;
	margin-left:3%;
	font-family:'popins',sans-serif;
	
	
}
.related h1:hover{
	cursor:pointer;
	color:blue;
	transition:0.5s ease;
}
.related hr{
	width:20%;
	margin-left:3%;
	border:2px solid blue;
}
.related hr:hover{
	cursor:pointer;
	border:2px solid black;
}

/************/
.Product{
    
    
    width:90%;
    margin-left:5%;
    

}
.related_product {
    margin-top:2%;
   background-color:rgba(128, 128, 128, 0.04);
     margin-left:3%;
    width: 20%;
    border-radius: 5px;
    display: inline-block;
    border:1px solid rgba(128, 128, 128, 0);
    
    


}
.related_product:hover {
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.067);
}

.related_image {
    
    flex: 1 1 21rem;
    margin-top: none;


}



.related_image img {
    width: 100px;
    height: 150px;
    
}

.related_product .title {
    text-align: center;
    font-size: 1.2rem;
    height:90px;

}
.related_product .title h2{
    margin-top:3%;
    margin-bottom:0%;
}



.related_product .btn {
	width:100%;
	height:40px;
	text-align:center;
    border:none;
    font-size: 17px;
    color: #FFF;
    background-color: rgb(44, 44, 232);
    transition: all 0.3s ease;
    cursor: pointer;
	margin-left:0%;
}

.related_product .btn:hover {
    background:black;
    
    
}

/************ENQUIRE1.JSP***************************/
.relate{
	
	height:500px;
	margin:1%;
    background-color: white;
    border:1px solid rgba(128, 128, 128, 0.167);
	
	
}
.relate h1{
	margin-bottom:0%;
	font-size:2.5rem;
	margin-left:3%;
	font-family:'popins',sans-serif;
	
	
}
.relate h1:hover{
	cursor:pointer;
	color:blue;
	transition:0.5s ease;
}
.relate hr{
	width:20%;
	margin-left:3%;
	border:2px solid blue;
}
.relate hr:hover{
	cursor:pointer;
	border:2px solid black;
}

/************/
.machine{
    
    
    width:90%;
    margin-left:5%;
    

}
.related_machine {
    margin-top:2%;
   background-color:rgba(128, 128, 128, 0.04);
     margin-left:3%;
    width: 20%;
    border-radius: 5px;
    display: inline-block;
    border:1px solid rgba(128, 128, 128, 0);
    
    


}
.related_machine:hover {
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.067);
}

.machine_image {
    
    flex: 1 1 21rem;
    margin-top: none;


}



.machine_image img {
    width: 100px;
    height: 150px;
    
}

.related_machine .title {
    text-align: center;
    font-size: 1.2rem;
    height:90px;

}
.related_machine .title h2{
    margin-top:3%;
    margin-bottom:0%;
}



.related_machine .btn {
	width:100%;
	height:40px;
	text-align:center;
    border:none;
    font-size: 17px;
    color: #FFF;
    background-color: rgb(44, 44, 232);
    transition: all 0.3s ease;
    cursor: pointer;
	margin-left:0%;
}

.related_machine .btn:hover {
    background:black;
    
    
}


/**************************Footer*****************************************/
 footer {
    height: 350px;
    width: 100%;
    background-color: #e2e8f0;
    opacity: 0.9;
   
}
.foot {

    margin-left: 10%;
    padding-left: 10%;
    color: black;
    font-size: 20px;
    float: left;
    position: sticky;
    font-family:'Popins',sans-serif;

}
.foot hr{
	border: 2px solid blue;
}
.foot h2:hover {
    color: blue;
}

.foot h3 a {
   color: grey;
}

.foot h3 {
    font-size: 20px;
    padding-top: 10%;
    justify-content: space-between;
    color: black;
}

.foot h3 .fa-sharp {
    margin-right: 10px;
    margin-top: 1%;
    color:blue;
}

.foot a {
    text-decoration: none;
    justify-content: space-between;
}

.foot .i {
    font-size: 10px;
}



.f {
    height: 200px;
    width: 100%;
}



.copy-right {
    background-color: white;
    margin-top: 7%;
    padding-top: 1px;
    padding-bottom:1px;
}

.copy-right h2 {
    font-size: 25px;
    color: black;
    margin-left: 40%;
    font-family:'popins',sans-serif;
}

.sci {
    margin-top: 20px;
    display: flex;
}

.sci li {
    list-style: none;

}

.sci li a {
    display: flex;
    height: 20px;
    width: 40px;
    justify-content: center;
    background: blue;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sci li a:hover {
    background: black;
}

.sci li a .fa-brands {
    color: white;
}
